* {
    margin: 0;
    padding: 0;
}
main {
    min-height: calc(100vh - 11.1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer {
    text-align: center;
    background: gray;
    padding: 5rem 0 ;
}

#main {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#main div {
    width: 100%;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-evenly
}
#main div label {
    width: 25%;
}
#main div select {
    width: 38%;
}
#root {
    width: 60vw;
    margin: 2vh auto 0;
    display: grid;
    min-width: 840px;
    max-width: 1480px;
    grid-template-columns: 1fr 2fr 3fr 1fr;
}

#arrow {
    /*padding: 30px 0;*/
    text-align: center;
    width: auto;
    /*margin: 0 auto;*/
    /*min-width: 840px;*/
    /*max-width: 1480px;*/
}

#arrow:hover,#circle-arrow:hover {
    cursor: pointer;
}

#count {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60vw;
    margin: 0 auto;
    min-width: 840px;
    max-width: 1480px;
}
#count :first-child {
    padding-right: 40px;
}

#back {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    background: #66A6FD;
}

.arrow-handler {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100vw;
}

#arrow img:first-child, #circle-arrow img:first-child {
    width: 64px;
    height: auto;
}
#divider {
    border: 1px solid black;
    height: 70px;
    width: 0px;
    margin: 0 15px;
}
.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
